.view_background{
    background-color: #DAD4D3;
}
.icon_manage{

    height: 49px;
    width: 53px;
}
.titel_font{
    font-weight: 500;
}
.order_hadding{
    font-weight: bold;
    font-size: 20px;
}
.container_scroll {
    overflow-y: auto;
    max-height: calc(100vh - 20px); /* Adjust height as needed */
}
 
.input_width{
    max-width: 610px !important;
} 
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}